# pandas - for data manipulation and handling DataFrames
pandas==2.2.2

# huggingface_hub - for downloading models and datasets from Hugging Face
huggingface_hub==0.32.6

# streamlit - for creating the web application to input data and display predictions
streamlit==1.43.2

# joblib - for serializing (saving) and deserializing (loading) models
joblib==1.5.1

# scikit-learn - for machine learning algorithms, preprocessing, and evaluation
scikit-learn==1.6.0

# xgboost - for implementing the gradient boosting model
xgboost==2.1.4

# mlflow - for experiment tracking, model versioning, and managing the end-to-end workflow
mlflow==3.0.1
